/* compact design: inline labels and descriptions */
.json-editor-compact div.form-group {display: flex;}
.json-editor-compact div.form-group>label {display: flex; align-items: center; margin-right: 10px; width: 200px;}
.json-editor-compact div.form-group input.form-check-input {right: 50px;}
.json-editor-compact div.form-group>small.form-text {width: 150px; margin-left: 10px;}
.json-editor-compact div.form-group>div.autocomplete {width: 100%; }

/* fix general layout */
.card-title label {margin-right: 10px;}
.card-title .btn-secondary {margin-right: 10px;}

/* VEForAll */
/* from .form-control */
.je-ready .ve-ui-surface-visual {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}